# netlify.toml

[build]
  publish = "."
  functions = "netlify/functions"

  [build.environment]
    NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"

[functions.compressImage]
  external_node_modules = ["sharp"]

[functions.proxy]
  # IMPORTANT : J'ai ajouté "google-spreadsheet" ici !
  external_node_modules = ["node-fetch", "google-spreadsheet"]

[functions.getProfils]
# external_node_modules = ["@octokit/core", "@octokit/plugin-rest"]

# --- Cette section est déjà correcte selon notre discussion précédente ---
[functions.uploadImage]
  external_node_modules = ["node-fetch"]

[functions.sendRequest]
  external_node_modules = ["nodemailer", "multiparty"]

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, DELETE, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type, Authorization"
    Access-Control-Max-Age = "86400"
